.nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: hsl(var(--bg));
    border-bottom: solid 1px hsl(var(--border));
}

.container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%; 
}

.leftList, .rightList {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.leftList {
    justify-content: flex-start;
}
.rightList {
    justify-content: flex-end;
}


.logoContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--bg));
    padding: 16px;
    outline: solid 1px hsl(var(--border));
}

.logo {
    width: 64px;
    height: 64px;
}
